[submodule "l2rpn_baselines/PandapowerOPFAgent"]
	path = l2rpn_baselines/PandapowerOPFAgent
	url = https://github.com/jhmenke/grid2op_pp_baseline
[submodule "l2rpn_baselines/Geirina"]
	path = l2rpn_baselines/Geirina
	url = https://github.com/djmax008/GEIRINA_baseline
[submodule "l2rpn_baselines/WolperGrid"]
	path = l2rpn_baselines/WolperGrid
	url = git@github.com:Tezirg/WolperGrid.git
[submodule "l2rpn_baselines/AsynchronousActorCritic"]
	path = l2rpn_baselines/AsynchronousActorCritic
	url = https://github.com/KishanGitASU/A3C-RL-baseline-agent-for-Grid2Op-environment.git
