[submodule "l2rpn_baselines/PandapowerOPFAgent_with_saveload"]
	path = l2rpn_baselines/PandapowerOPFAgent
	url = https://github.com/jhmenke/grid2op_pp_baseline
[submodule "l2rpn_baselines/Geirina"]
	path = l2rpn_baselines/Geirina
	url = https://github.com/djmax008/GEIRINA_baseline
[submodule "l2rpn_baselines/AsynchronousActorCritic"]
	path = l2rpn_baselines/AsynchronousActorCritic
	url = https://github.com/KishanGitASU/A3C-RL-baseline-agent-for-Grid2Op-environment.git
[submodule "l2rpn_baselines/Kaist"]
	path = l2rpn_baselines/Kaist
	url = https://github.com/sunghoonhong/L2RPN-WCCI-2020-Winner
[submodule "l2rpn_baselines/curriculumagent_with_saveload"]
	path = l2rpn_baselines/curriculumagent
	url = https://github.com/FraunhoferIEE/curriculumagent/
